@import "../core/variables";
@import "../core/functions";
@import "../core/_mixin.scss";
.header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: rem(220) rem(35) rem(35.4) rem(35);
  @include tablet {
    padding: rem(250) rem(175) rem(31) rem(175);
  }
  &__img {
    max-width: rem(250);
    max-height: rem(120);
    @include tablet {
      max-width: rem(419);
      max-height: rem(105);
    }
  }
}
