@import "../core/variables";
@import "../components/arrow.scss";

.buttonFill {
  display: flex;
  justify-content: space-between;
  margin: 0 10px 15px 10px;
  cursor: pointer;


  &__title {
    text-transform: uppercase;
    font-size: rem(18);
    font-family: $font-Open;
    font-weight: 700;
    color: $text;
  }

  @media all and (min-width: 768px) {
    margin: 10px 10px 15px 10px;
  }
}

.fa-regular {
  color: rgba(177, 8, 8, 0.808);
  margin-right: 5px;
}

.fill {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: left;
  margin: 0px 20px 10px 20px;

  &__small {
    font-size: 10px;
    margin-bottom: 15px;
  }

  &__infoLabel {
    color: $title-card-icons;
    font-size: rem(14);
    margin-bottom: 7px;
    font-weight: 700;
  }

  &__infoInput {
    margin-bottom: 20px;
    border-color: $border-icon;
    border-style: solid;
    border-width: 1px;
    height: 30px;
  }

  &__action {
    margin-top: 15px;
    margin-bottom: 35px;
    display: flex;
    gap: 30px;

    &--labelInput {
      background-color: rgba(177, 8, 8, 0.808);
      padding: 7px 20px;
      border-radius: 3px;
      color: $main-bg-color;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
      cursor: pointer;
    }

    &--imageInput {
      display: none;
    }

    &--preview {
      width: 30px;
      height: 30px;
      border: solid 1px $border-icon;
      background-size: cover;
    }
  }

  @media all and (min-width: 768px) {
    margin: 10px 30px 10px 40px;
  }
}

fieldset {
  border-bottom: solid 1px rgb(3, 58, 3);
  margin: 0 20px 0 20px;
}